<!DOCTYPE html>
<html>
<head>
  <title>Photoapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <span class="alert-container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </span>

  <ul class="navbar">
    <% if user_signed_in? %>
      <li><%= link_to 'home', root_path %></li>
      <li><%= link_to 'self', user_path(current_user) %></li>
      <li><a href="#profilePicModal" data-toggle="modal">pro-pic</a></li>
      <li><a href="#uploadPhotoModal" data-toggle="modal">upload</a></li>
      <li><%= link_to 'sign out', destroy_user_session_url, :method => :delete %></li>
    <% end %>
  </ul>

<%= yield %>
  <%= render 'photos/upload_photo_modal' %>
  <%= render 'photos/profile_picture_modal' %>

</body>
</html>
